<!-- appname/templates/appname/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'users/img/love.png' %}"
    />
    <title>NepGallery</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap"
    />
    <link rel="stylesheet" href="{% static 'users/css/styles.css' %}" />
    <script defer src="{% static 'users/js/script.js' %}"></script>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="{% url 'index' %}">
          <img
            src="{% static 'users/img/love.png' %}"
            alt="logo"
            class="logo"
          />
          <div>NepGallery</div>
        </a>
      </div>

      <nav>
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'image_gallery' %}">Gallery</a></li>
        </ul>
      </nav>
    </header>

    {% block content %} {% endblock %}
  </body>
</html>
